@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #39445a;
    /* padding-bottom: 15px; */
    color: white;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 1px 5px black;
}

.brand-logo {
    padding-top: 2rem;
    font-family: 'Grand Hotel', cursive;
    font-weight: 200;
    padding-left: 1rem;
    font-size: 2.5rem;
}

.final-buttons {
    display: flex;
    padding-top: 2rem;
    gap: 1rem;
}

.logout-btn {
    height: 2rem;
    padding-top: 4rem;
}

@media (max-width:1000px) {
    .header {
        padding-top: 15px;
        font-size: 6vw;
    }
}