@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url("https:https://ui-ninja.netlify.app/style.css");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}