#dropdown_header {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #39445A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #39445A;
}

.dropdown-content button:hover {
    background: whitesmoke;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

#dropdown_header:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

#dropdown_header:hover .btn-primary {
    /* background-color: #3e8e41; */
}

.trending-search {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 3rem;
}